
{% extends "base.html" %}
{% load static %}
{% block title %}snipherDev {% endblock %}
{% block content %}
<div class="App">
    <header class="App-header">
        <img src="{% static 'Octocat.png' %}" class="App-logo" alt="logo" />
        <p>
            GitHub Codespaces <span class="heart">♥️</span> Django
        </p>
        <p class="small">
            Edit <code>hello_world/templates/index.html</code> and see changes live!
        </p>
        <button class="glowing-button">click Me</button>
    </header>
</div>
{% endblock %}

